
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$brightred: #ef233c;
$red: #d90429; 

// Grays
$black: #0b090a;
$darkerGray: #161a1d;
$darkGray: #2b2d42;
$gray: #b1a7a6;
$lightGray: #d3d3d3;
$white: #ffffff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}